span.search-key {
  border: 1px solid #333;

  margin-left: 0.5em;
  margin-right: 0.5em;

  padding: 0.1em 0.2em 0.1em 0.2em;

  font-weight: bold;
  font-size: smaller;

  background-color: #ffd;
}
